.idea
backend/.idea
backend/venv
backend/ScholarLendingPortal/api/migrations
backend/ScholarLendingPortal/db.sqlite3

frontend/scholarlendingportal/node_modules
frontend/scholarlendingportal/package-lock.json
frontend/scholarlendingportal/package.json

frontend/package-lock.json

*.pyc
__pycache__/
.DS_Store
.env
backend/ScholarLendingPortal/db.sqlite3